*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #00002c;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: aliceblue;
    padding: 8px;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: end;
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px 0;
}
#header #logo{
    width: 80px;
}
#header a{
    margin: 0 16px;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}
#header a:hover{
    color: #00002c;
    
}
#sobre{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 64px;
    padding: 64px 0;
}
#sobre h1{
    font-size: 3.5rem;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
}
#sobre #subtitle{
    font-weight: 700;
    margin: 8px 0;
    font-size: 1.5rem;
}

#sobre p{
    margin: 8px 0;
    max-width: 800px;
    font-size: 2rem;
    color: gray;

}







#projetos{
    margin: 0 auto;
    padding-top: 32px;
    
}
#projetos h1{
    font-size: 3rem;
    text-align: center;
    margin: 64px 0;
}
#projetos #container{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 16px 8px;
    justify-content: center;
    
}
#projetos .tag{
    border-radius: 10px;
    background: linear-gradient(to right bottom, aliceblue, rgba(255, 255, 255, 0.815), aliceblue);
    box-shadow: 0 0 3px  gray;
    max-width: 30%;
    transition: 0.3s;
    cursor: pointer;
    min-width: 300px;
    text-decoration: none;

}
#projetos .tag:hover{
        box-shadow: 0 0 5px black;
    
}
#projetos .tag img{
    width: 100%;
    border-radius: 10px 10px 300px 00px;
}

#projetos .tag h3{
    margin: 32px;
}

#projetos .tag p{
    margin: 32px;
    color: gray;
    font-weight: 700;

}
#habilidades{
    padding-top: 160px;

}

#habilidades #container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 32px 0;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4%;
}
#habilidades h1{
    text-align: center;

    margin: 0 0 64px 0;
    font-size: 3rem;
}

#habilidades .subtitle{
    margin: 0 0 16px 0;
    color: gray;
    font-weight: bold;
}
#habilidades .paragraph{
    margin: 16px 0;
    font-size: 14px;
    line-height: 1.5;
    max-width: 600px;
    font-weight: 700;
    color: rgb(0, 31, 53);
    

}
#habilidades article {
    border: 1px solid rgba(127, 127, 127, 0.5);
    border-radius: 10px;
    margin-bottom: 16px;
    padding: 32px;
    transition: 0.3s;
    width: 48%;
    background: linear-gradient(to right bottom, aliceblue, rgba(255, 255, 255, 0.815), aliceblue);
}
#habilidades article:hover{
    border: 1px solid rgba(127, 127, 127, 0.3);
    box-shadow: 0 0 3px black;

}
#habilidades .large{
    width: 100%;
}
#chamada{
    max-width: 1000px; 
    margin: 0 auto;
    padding: 160px 0 64px 0;
}
#chamada p{
    text-align: center;
    margin: 8px 0;
    font-size: 2rem;
    color: gray;

}
#chamada .destaque{
    color: #00002c;
    font-weight: 700;
    font-family: 'quicksand', sans-serif;
    font-size: 2.3rem;
}
#contato{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 64px;
    gap: 32px;
}
#logo{
    max-width: 80px;
    max-height: 80px;
}
#logoLinkedin{
    max-height: 80px;
    width: auto;
}
.shadowned{
    filter: drop-shadow(1px 1px 3px rgb(126, 126, 126));

}


@media (max-width: 1000px) {
    #header{
        display: none;
    }
    #sobre p{
        font-size: 1.8rem;
    }
    #habilidades article{
        width: 100%;
    }
#projetos .tag{
    width: 100%;
    max-width: none;
}
#logo{
    max-width: 64px;
    max-height: 64px;
}
#logoLinkedin{
    max-width: 64px;
    max-height: 64px;
}
    
}
